@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* COLORS */
  --color-1: #ff9f1c;
  --color-2: #ffbf69;
  --color-3: #ffffff;
  --color-4: #cbf3f0;
  --color-5: #2ec4b6;
  --color-6: #f3fbfa;
  --color-7: #fff6eb;
  --color-8: #808080;

  /* TEXT */
  --txt-1: #ff9f1c;
  --txt-2: #ffbf69;
  --txt-3: #ffffff;
  --txt-4: #cbf3f0;
  --txt-5: #2ec4b6;
  --txt-6: #f3fbfa;
  --txt-7: #fff6eb;
  --txt-8: #808080;
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-size: 52px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 15px;
  font-weight: 500;
}

.bg-color-1 {
  background-color: var(--color-1);
}
.bg-color-2 {
  background-color: var(--color-2);
}
.bg-color-3 {
  background-color: var(3-color-3);
}
.bg-color-4 {
  background-color: var(--color-4);
}
.bg-color-5 {
  background-color: var(--color-5);
}
.bg-color-6 {
  background-color: var(--color-6);
}
.bg-color-7 {
  background-color: var(--color-7);
}
.bg-color-8 {
  background-color: var(--color-8);
}

.txt-color-1 {
  color: var(--txt-1);
}
.txt-color-2 {
  color: var(--txt-2);
}
.txt-color-3 {
  color: var(--txt-3);
}
.txt-color-4 {
  color: var(--txt-4);
}
.txt-color-5 {
  color: var(--txt-5);
}
.txt-color-6 {
  color: var(--txt-6);
}
.txt-color-7 {
  color: var(--txt-7);
}
.txt-color-8 {
  color: var(--txt-8);
}
